POSTGRES_DB=saiti_db
POSTGRES_USER=saiti_user
POSTGRES_PASSWORD=saiti_pass
DATABASE_URL=postgresql://saiti_user:saiti_pass@postgres:5432/saiti_db
GROQ_API_KEY=
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
